{% extends "skeleton.twig" %}

{% block title %}Account{% endblock %}

{% block content %}





    <div class="col-md-6 centered-column">
        <div class="titleContainer">
            <h4 class="reverseTitle">Gegevens</h4>
        </div>


        <form action="account.php?action=editData" method="post">

            {{ user.username }}
            <div class="form-group">
                <input type="text" name="email" placeholder="email" class="form-control" value="{{ user.email }}">
            </div>
            <div class="form-group">
                <select class="form-control" name="city">

                    <option selected disabled>Woonplaats...</option>
                    {% for city in cityList %}
                        {% set selected = "" %}
                        {% if city.name == user.city.name %}
                            {% set selected = "selected" %}
                        {% endif %}
                        <option value="{{ city.id }}" {{selected}}>
                            {{city.postcode}}, {{ city.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-default" type="submit">Wijzig</button>

        </form>
        <div class="titleContainer">
            <h4 class="reverseTitle">Paswoord</h4>
        </div>
        <form action="account.php?action=editPass" method="post">
            <div class="form-group">
                <input type="password" name="oldPass" class="form-control" placeholder="oud paswoord" >
            </div>
            <div class="form-group">
                <input type="password" name="pass" class="form-control" placeholder="nieuw paswoord" >
            </div>
            <div class="form-group">
                <input type="password" name="pass2" class="form-control"  placeholder="bevestig nieuw paswoord" >
            </div>
            <button class="btn btn-default" type="submit">Wijzig</button>
        </form>
    </div>

{% endblock %}