{% extends "skeleton.twig" %}

{% block title %}Zoeken{% endblock %}

{% block content %}
    <!--<div class="searchform">
        <div class="titleContainer">
            <h4 class="reverseTitle">zoeken</h4>
        </div>
        <form action="search.php" method="get">
            <input type="text" name="keywords" placeholder="trefwoorden"></input>
           <select name="postcode">
                <option selected disabled>Postcode...</option>
    {% for city in cityList %}              
        <option value="{{ city.postcode }}">{{ city.name }}, {{ city.postcode }}</option>
    {% endfor %}
</select>
<select name="section">
    <option selected disabled>Sectie...</option>

    {% for section in sectionList %}              
        <option value="{{ section.id }}">{{ section.name }}</option>
    {% endfor %}
</select>
<input type="submit" name="search" value="Zoek">
</form>
</div>-->
    <div class="container">
        <div class="jumbotron col-md-8 centered-column">

            <h2>Zoeken</h2>

            <form action="search.php" method="get">
                <div class="form-group">
                    <input type="text" name="keywords" placeholder="trefwoorden" class="form-control"></input>
                </div>
                <div class="form-group">
                    <select name="postcode" class="form-control">
                        <option selected disabled>Postcode...</option>
                        {% for city in cityList %}              
                            <option value="{{ city.id }}">{{ city.name }}, {{ city.postcode }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select name="section"  class="form-control">
                        <option selected disabled>Sectie...</option>
                        {% for section in sectionList %}              
                            <option value="{{ section.id }}">{{ section.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-default" type="submit" name="search">Zoek</button>
            </form>
        </div>


        {% include 'itemRow.twig' %}
    </div>


{% endblock %}